body {
  font-size: 16px;
  font-family: sans-serif;

}

.my-projects, .hobbies-interest {
  margin-top: 10%;
}
#profile-pic {
  width: 100px;
  height: auto;
  margin: auto;
  display: block;
  border: dashed 5px;
}

#my-card {
  width: 250px;
  color: white;
  margin: auto;
  overflow: hidden;
}

.header {
  background-color: rgb(48, 48, 48);
  height: 500px;
}

h3 {
  margin:auto;
}

.icons {
 width: 30px;
 margin: auto;
}

#card-links
{
}