@font-face {
  font-family: Courgette;
  src: url("../css/fonts/Courgette-Regular.ttf");
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-image: url("../css/background/tala.png");
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: bottom right;
}

.my-projects, .hobbies-interest {
  padding: 20px;
}

.my-projects h4, .hobbies-interest h4 {
  color: rgb(37, 37, 37);
  font-weight: bold;
  text-shadow: 2px 2px rgb(238, 238, 238);
  font-family: Courgette;
  font-size: 90px;
}

.project-bg, .hobbies-bg {  
  background-color: rgba(255, 161, 38, 0.938); 
}

span {
  text-decoration-line: line-through;
}
#profile-pic {
  width: 100px;
  height: auto;
  margin: auto;
  display: block;
  border: dashed 5px;
}

#my-card {
  width: 250px;
  color: white;
  margin: auto;
  overflow: hidden;
  background-color: #343a4091 ;
}

.header {
  background-image: url("../img/background.jpg");
  /*background-color: rgb(48, 48, 48);*/
  background-size: cover;
  background-position: 0 -250px;
  height: 500px;
}

h3 {
  text-align:center;
}

.icons {
  width: 30px;
  margin-left: 5px; 
  padding: 2px;
  float: right;
}

#fn {
  margin-bottom: 20px;
  margin-top: 20px;
}

.about-me {
  color: rgb(255, 255, 255);
  
}

.about-bg {
  padding: 25px;
  background-color: #343A40;
}

.card {
  color: rgb(255, 255, 255);
}

a {
  color: rgba(255, 161, 38);
}

.quotes p {
  font-family: Courgette;
  font-size: 40px;
  text-shadow: 2px 2px rgba(15, 15, 15, 0.89);  
  color: rgb(255, 255, 255);
}

.quote-bg {
  background-color: #343a40;
  background: linear-gradient(to top, rgb(52, 58, 64), rgba(34, 34, 34, 0.952) 25%, rgb(52, 58, 64));
}

.quote {
  margin: auto;
  width: 500px;
  padding: 40px;
  color: rgb(255, 255, 255);
}

.footer {
  text-align: center;
  background-color: black;
  color: aliceblue;
  font-size: 10px;
  height: 2%;
  padding: 10px;
}